<h1>Frequently Asked Questions</h1>
<p class="lead">If you have any more questions stop by the telegram or discord and reach out!</p>

<ul class='text-white faq'>
  <li>
    How does the Non-Fungible Token work?
    <ul>
      <li>A Non-Fungible Token (NFT) is a unique asset added to the blockchain, such that there can only one of its kind. It is usually paired with some physical or digital asset.
        Think of it as a certificate of authenticity. The NFT says "I own this thing, and it is authentic." You can then transfer, sell, or destroy the token at your discretion.</li>
      <li>Tokens created with this printer have the ID, wallet address(thats you!), hash of the image submitted, and location of the image recorded with the token.</li>
      <li>So long as this server is running, both the image created and NFT from the blockchain can be paired so the public can know, That Meme is Mine!</li>
    </ul>
  </li>
  <li>
    How much does it cost?
    <ul><li>Free for now, lucky you. At the end of the printing period, all tokens will be minted and deployed at the same time. There may be a small delay in seeing your token on the blockchain.</li></ul>
  </li>
  <li>
    How do I see it on the blockchain?
    <ul><li>Check etherscan!</li></ul>
  </li>
  <li>
    Will it show up in my wallet?
    <ul><li>Yes, you'll have to add the contract address.</li></ul>
  </li>
  <li>
    Whats the catch?
    <ul><li>There is none, thanks for helping the community grow!</li></ul>
  </li>
  <li>
    What templates/formats are available?
    <ul><li>Check the <%= link_to "Guide to Printing", guide_url %> for updated information about the upcoming Minting Event!</li></ul>
  </li>
</ul>
