<div class="row guide-rows first-row">
  <div class="col-sm faq guide-container">
    <h2>Rules for Third Generation NFTs: Galaxy</h2>
    <ul>
      <li>Printer will be live for 1 week.</li>
      <li>You must have Hoge in your wallet. Hoge holders list will be updated at midnight every night.</li>
      <li>You can only mint an NFT for yourself. The owner & signature must match.</li>
      <li>Copyright warning: All DMCA requests are reviewed and acted upon in accordance with US law, do not use copyrighted material.</li>
      <li>Pixel Dimensions: 451x466px </li>
      <li>Gifs will be accepted, and are looped and truncated to match the template.</li>
      <li>Frames in Template: 84</li>
      <li>Max File Size: 8MB</li>
      <li>Contract Address: <a href="https://etherscan.io/address/0xae58a033b6d7e66014fe88227c97680cc6ccecd9">https://etherscan.io/address/0xae58a033b6d7e66014fe88227c97680cc6ccecd9</a></li>
    </ul>
  </div>
  <div class="col-sm guide-image-container">
    <h4>Galaxy Template</h4>
    <%= image_tag "template_galaxy.gif" %>
  </div>
</div>
<div class="row guide-rows">
  <div class="col-sm faq guide-container">
    <h2>Rules for Second Generation NFTs: Expansion</h2>
    <ul>
      <li>Printer will be live for 48 hours.</li>
      <li>You can only mint an NFT for yourself. The owner & signature must match.</li>
      <li>Copyright warning: All DMCA requests are reviewed and acted upon in accordance with US law, do not use copyrighted material.</li>
      <li>Pixel Dimensions: 542x560px </li>
      <li>Contract Address: <a href="https://etherscan.io/address/0x9894b5b1b1ab384cb23bbef6fecacbd994a95c76">https://etherscan.io/address/0x9894b5b1b1ab384cb23bbef6fecacbd994a95c76</a></li>
    </ul>
  </div>
  <div class="col-sm guide-image-container">
    <h4>Expansion Template</h4>
    <%= image_tag "template_expansion.png" %>
  </div>
</div>
<div class="row guide-rows">
  <div class="col-sm faq guide-container text-white">
    <h2>Rules for First Generation NFTs: The Genesis</h2>
    <ul>
      <li>The printer will go live on March 6th 00:00 EST :), and will stay live for 24 hours.</li>
      <li>Uploaded images will be placed inside the Genesis template.</li>
      <li>You can only mint an NFT to yourself. Asset Owner and the signature wallet must match.</li>
      <li>Copyright warning: All DMCA requests are reviewed and acted upon in accordance with US law, do not use copyrighted material.</li>
      <li>Pixel Dimensions: 548x566px </li>
      <li>Contract Address: <a href="https://etherscan.io/address/0x624f36C23b63F574565e9c60903ed765364566d1">https://etherscan.io/address/0x624f36C23b63F574565e9c60903ed765364566d1</a></li>
    </ul>
  </div>

  <div class="col-sm guide-image-container">
    <h4>Genesis Template</h4>
    <%= image_tag "template_nasa_neon.jpg" %>
  </div>
</div>
