<div class="container">
  <div class="technical-support-header">
    <h2>Technical Support</h2>
  </div>
  <div class="row technical-support">
    <h4>HogeMint works best on desktop with the following wallets:</h4>

    <ul>
      <li>Metamask Browser Extension for Chrome or Firefox</li>
      <li>Coinbase Wallet Browser Extension for Chrome or Firefox</li>
    </ul>

    <p>HogeMint is confirmed <b><u>NOT</u></b> working with the following platforms:</p>
    <ul>
      <li>Metamask Mobile App - Fails to incorporate picture file upload due to bug in browser.</li>
      <li>Coinbase Wallet App - Cannot sign transaction, wallet browser does not implement web3.</li>
      <li>Safari anything</li>
    </ul>
  </div>
</div>
