<div class="container">
  <div class="technical-support-header">
    <h2>Technical Support</h2>
  </div>
  <div class="row technical-support">
    <h4>Confirmed Working:</h4>
    <ul>
      <li>Metamask Browser Extension for Chrome or Firefox</li>
      <li>Coinbase Wallet Browser Extension for Chrome or Firefox</li>
      <li>Coinbase Wallet App on iPhone</li>
    </ul>

    <h4>Broken:</h4>
    <ul>
      <li>Coinbase Wallet App on Android - Cannot upload file. Use the desktop browser extension to rebuild your wallet on a desktop and proceed as normal: <a href="https://blog.coinbase.com/coinbase-wallet-introduces-new-browser-extension-dd067403b86">https://blog.coinbase.com/coinbase-wallet-introduces-new-browser-extension-dd067403b86</a></li>
      <li>TrustWallet App - Does not have in-wallet browser.</li>
      <li>Safari anything</li>
    </ul>
  </div>
</div>
