<h3>Save this image and URL to come back and view your digital asset</h3>
<div class="viewport">
  <%= image_tag fix_s3_link(@base_item.image), alt: "NOOOOOOO", class: "image" if @base_item.image.present? %>
</div>
