<div class="col-sm-4">
  <div class="card">
    <img class="card-img-top" src="<%= url_for item.meme_card if item.meme_card.attached? %>">
  </div>
  <div class="card-body text-center pb-1">
    <div class="w-100">
    </div>
  </div>
</div>
