<div class="col-sm-4">
  <div class="card">
    <img class="card-img-top" src="<%= url_for fix_s3_link(item.meme_card) if item.meme_card.present? %>">
  </div>
  <div class="card-body text-center pb-1">
    <div class="w-100">
    </div>
  </div>
</div>
