<div class="col-6 col-md-4 col-lg-2">
  foo
  <div class="card">
    <img class="card-img-top viewport" src="<%= url_for item.meme_card if item.meme_card.attached? %>">
  </div>
  <div class="card-body text-center pb-1">
    <div class="w-100">
      <p class="text-uppercase font-weight-bold text-primary text-card-caption">Some text</p>
      <h2 class="font-weight-light mb-0">Some more text</h2>
    </div>
  </div>
</div>
