<h1>HogeMint Galaxy Series - Coming Sept 3rd, 00:00 UTC</h1>
<div class="row">
  <p class="lead">August 26th, 2021</p>
  <p>HogeMint is gearing up for another limited time event! We've solved some of the dropped transaction issues and added the following features:</p>
  <p>Animated Gifs accepted, LibVips integration for faster processing, Added Help page for supported platforms, Etherscan API failure mode, Continuity of checkout experience</p>
  <p>Remember, you have to have a DeFi wallet with Hoge in it to make the NFT. Check out the Help page to learn what wallets are working. Both BSC & ETH Hoge holders will be included.</p>
  <p>You can begin testing designs at: <a href="https://hogemint-staging.herokuapp.com/">https://hogemint-staging.herokuapp.com/</a></p>
</div>
<hr>
<div class="row">
  <p class="lead">June 3rd, 2021</p>
  <p>
    Thanks everybody for participating in the hogemint event! I hope you got a cool NFT. You can view the whole gallery at <a href="https://opensea.io/collection/hoge-expansion-series">https://opensea.io/collection/hoge-expansion-series</a>
  </p>
  <p>
    There were a couple issues with Infura & Ethereum network dropping transactions when gas prices bounced really low. If you have not received your NFT, please reach out to the support channel on Discord. The easiest way to check your NFT is on etherscan by typing in your wallet address.
  </p>
  <p>
    Stay tuned for our 3rd event, not yet announced :)
  </p>
</div>
<hr>
<div class="row">
  <p class="lead">May 28, 2021</p>
  <p>
    Hoge Expansion Mint has arrived!<br><br>
    There will be a single 48 hour event starting June 1st 00:00 EDT inviting all HOGE Wallet Holders. Each of you will have the opportunity to use the mint to generate a unique NFT. Contract address: https://etherscan.io/address/0x9894b5b1b1ab384cb23bbef6fecacbd994a95c76<br><br>
    You can begin testing designs at: <a href="https://hogemint-staging.herokuapp.com/">https://hogemint-staging.herokuapp.com/</a>
  </p>
  <p>Additionally, there will be a button to re-mint your original NFT from the Genesis collection on your url page. Example URL: https://www.hogemint.com/items/17</p>
  <p>HogeMint uses NOWpayments as the processor to deliver ETH to the address responsible for paying gas fees. Please double check any external links for HTTPS in the domain, and https://nowpayments.io/payment/?XXXXXXXX as the address.</p>
  <p>Report bugs to the discord #nft-support</p>
</div>
<hr>
<div class="row">
  <p class="lead">May 15, 2021</p>
  <p>Hoge Expansion Mint is finally finished with coding. There will be a 48 hour event scheduled in the coming days where Hoge Holders can use the mint to generatue a unique NFT. Contract address:
    <a href="https://etherscan.io/address/0x9894b5b1b1ab384cb23bbef6fecacbd994a95c76">https://etherscan.io/address/0x9894b5b1b1ab384cb23bbef6fecacbd994a95c76</a></p>
  <p>There will be a button to re-mint your original NFT from the Genesis collection on your url page. Example URL:
    <a href="https://www.hogemint.com/items/17">https://www.hogemint.com/items/17</a></p>
  <p>HogeMint uses NOWpayments to as a processor to deliver ETH to the address responsible for paying gas fees. Please double check any external links for <b>HTTPS</b> in the domain, and <b>https://nowpayments.io/payment/?XXXXXXXX</b> as the address.</p>
</div>

<hr>
<div class="row">
<p class="lead">April 10, 2021</p>
  <p>Currently all 328/328 original NFTs have been created and are registered on the blockchain. The address for the mint can be found here:
  <a href="https://etherscan.io/address/0x624f36C23b63F574565e9c60903ed765364566d1">https://etherscan.io/address/0x624f36C23b63F574565e9c60903ed765364566d1</a></p>
  <p>You may need to add the contract address to your assets to see the token: 0x624f36C23b63F574565e9c60903ed765364566d1</p>
  <p>The URIs all point back to the same 6 images, so although your token is non-fungible and unique, the URI is not. This was explained in the previous post</p>
  <div class="col-sm-6">
    <p class="lead">Current Status:</p>
    <ul>
      <li>Integration with CoinGate is complete, allowing you to pay your own gas fees. This feature will go live soon as the company is finalized.</li>
      <li>Rules for Generation 2 meme trading cards are being sorted out. This generation will be available to all wallet holders before the BigOne exchange listing goes live.</li>
      <li>Stay tuned for the 2nd generation of Hoge NFTs!!!</li>
    </ul>
  </div>
</div>

<hr>
<p class="lead">March 18, 2021</p>
<p>I've been trying like crazy to get all these NFTs minted but the gas cost ended up being $55/ea and there were 328 to print. You can do the math.</p>
<div class="row">
  <div class="col-sm-6">
    <p class="lead">Current State:</p>
    <ul>
      <li>We have minted 185/328 NFTs thus far.</li>
      <li>The NFT delivered to your wallet contains a URI (link) to one of 6 original images submitted by the community.</li>
      <li>This was a bug in the Solidity code where the wrong memory type was used for a local variable.</li>
      <li>Although your original image still exists, the NFT delivered most likely doesn't reference it.</li>
      <li>Sweet rare misprints!</li>
      <li>We want you to have your original image.</li>
    </ul>
    <p class="lead">Future Roadmap:</p>
    <ul>
      <li>Accept Hoge for Gas Fees => Mint your own NFT</li>
      <li>Requires deploying a new smart contract</li>
      <li>This new system will be Generation 2, The Reckoning.</li>
    </ul>
  </div>
</div>
<div class="row col-sm-12">
  <%= image_tag "solidity_error.png" %>
</div>
<div class="row mt-2">
  <div class="col-sm-8 text-justify">
    <p>The error occured because every time the batchMint() function is called, new URIs are added to the array seen above,
    and the array persists after the function ends. Therefore the local variable i keeps referencing the first 5 or 6 images (thats how many I mint at a time because of gas fees),
    making the NFTs only ever refer to the first 5 or 6 made by the community. Whoops.</p>
  </div>
</div>
