<h3>Save this image and URL to come back and view your digital asset</h3>
<div class="row">
  <div class="col-md-6">
    <%= image_tag meme_image_url(@item), alt: "NOOOOOOO", class: "image" %>
  </div>
  <div class="col-md-6">
    <% if @item.can_remint? && ENV["ALLOW_REMINT"] %>
      <%= render "shared/remint_first_gen" %>
    <% elsif @sale.new? %>
      Click here to provide the gas fees and get your NFT minted! <%= link_to "Checkout", sales_checkout_url(@item) %>
    <% end %>
  </div>
</div>
