<h3>Save this image and URL to come back and view your digital asset</h3>
<div class="viewport">
  <%= image_tag @item.meme_card.url.sub("//","").gsub("#{ENV["AWS_S3_BUCKET"]}/",""), alt: "NOOOOOOO", class: "image" if @item.meme_card.present? %>
</div>
